{% extends 'base.html.twig' %}

{% block deconnection %}
{% endblock %}
{% block contenu %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{{ asset('img/peakpx.jpg') }}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h3 class="display-3 text-white mb-md-4">INFINITYFARM</h3>
                            <h2 class="text-white text-uppercase mb-md-3">Votre succès agricole commence avec nous</h2>
                            <br>
                            <a href="{{ path('app_register') }}" class="btn btn-primary py-md-3 px-md-5 mt-2">Join Us</a>
                        </div>
                        <a href="{{ path('app_login') }}" class="btn btn-primary py-md-3 px-md-5 mt-2">Already member</a>

                    </div>
                </div>

                <div class="carousel-item">
                    <img class="w-100" src="{{ asset('img/s.jpg') }}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h3 class="display-3 text-white mb-md-4">INFINITYFARM</h3>
                            <h2 class="text-white text-uppercase mb-md-3">Votre succès agricole commence avec nous</h2>
                            <br>
                            <a href="{{ path('app_register') }}" class="btn btn-primary py-md-3 px-md-5 mt-2">Join Us</a>
                        </div>
                        <a href="{{ path('app_login') }}" class="btn btn-primary py-md-3 px-md-5 mt-2">Already member</a>

                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Carousel End -->
    <!--Carousel End -->



    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="img/gg.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pb-lg-5">
                    <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h6>
                        <h1 class="mb-3">We Provide Best Experience</h1>
                        <p>FARMTECH révolutionne l'agriculture en offrant aux agriculteurs des outils novateurs pour optimiser leurs pratiques. Cette plateforme propose des solutions adaptées, renforçant ainsi la productivité et la durabilité du secteur.</p>
                        <div class="row mb-4">
                            <div class="text-center">
                                <img class="img-fluid text-center" src="img/icon2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h3 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nos Services</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                        <h5 class="mb-2">Gestion Parc</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                        <h5 class="mb-2">Gestion trésorerie</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                        <h5 class="mb-2">Gestion Terrains</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                        <h5 class="mb-2">Gestion Reclamation</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0; background-image: url('img/back.jpg'); background-size: cover; background-position: center;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-primary text-center p-4">
                            <h1 class="text-white m-0">Sign Up Now</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-white p-5">
                            <form>
                                <div>
                                    <a href="{{ path('app_register') }}" class="btn btn-primary btn-block py-3">Sign Up Now</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Mega Offer</h6>
                        <h1 class="text-white"><span class="text-primary">30% OFF</span> For your first subscription</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration End -->



    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>
                <h1>What Say Our Clients</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="text-center pb-4">
                    <img class="img-fluid mx-auto" src="img/agric.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">تطبيق رائع و سهل الاستعمال
                        </p>
                        <h5 class="text-truncate">Mouldi Sebti</h5>
                        <span>Agriculteur</span>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="img/ou.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">لقد حصلت على عدة فرص عمل عبر هذا التطبيق
                        </p>
                        <h5 class="text-truncate">Nayla Srarfi</h5>
                        <span>Agriculteur</span>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="img/testimonial-3.jpg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Application simple et pratique
                        </p>
                        <h5 class="text-truncate">Manoubi jouini</h5>
                        <span>Agriculteur</span>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="img/ff.jpeg" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">un site très pratique et fonctionnel
                        </p>
                        <h5 class="text-truncate">Mansour Gafsi</h5>
                        <span>Agriculteur</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h1>Les membres de INFINITY Group</h1>
            </div>
            <div class="row">
                <div class="col pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/houssem.jpg" alt="" style="object-fit: cover; height: 200px;">
                            <div class="team-social">
                                <!-- ... (social media links for the first team member) ... -->
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-truncate">Meguebli Houssem</h5>
                        </div>
                    </div>
                </div>

                <div class="col pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/hassan.jpg" alt="" style="object-fit: cover; height: 200px;">
                            <div class="team-social">
                                <!-- ... (social media links for the second team member) ... -->
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-truncate">Jlassi Hassan</h5>
                        </div>
                    </div>
                </div>

                <div class="col pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/sarra.jpg" alt="" style="object-fit: cover; height: 200px;">
                            <div class="team-social">
                                <!-- ... (social media links for the third team member) ... -->
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-truncate">Jouini Sarra</h5>
                        </div>
                    </div>
                </div>

                <div class="col pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/ala.jpg" alt="" style="object-fit: cover; height: 200px;">
                            <div class="team-social">
                                <!-- ... (social media links for the fourth team member) ... -->
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h6 class="text-truncate">B.Mahmoud Alaeddine</h6>
                        </div>
                    </div>
                </div>

                <div class="col pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="img/houssemeddine.jpg" alt="" style="object-fit: cover; height: 200px;">
                            <div class="team-social">
                                <!-- ... (social media links for the fifth team member) ... -->
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h6 class="text-truncate">Henchir Houssemeddine</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <style>
        #chat-container {
            max-width: 400px;
            margin: 20px auto;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
        }

        #chat-header {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        #chat-messages {
            padding: 10px;
            max-height: 200px;
            overflow-y: auto;
        }

        .message {
            margin-bottom: 10px;
        }

        .user-message {
            background-color: #4CAF50;
            color: #fff;
            border-radius: 8px;
            padding: 8px;
            max-width: 70%;
            float: right;
        }

        .bot-message {
            background-color: #4CAF50;
            border-radius: 8px;
            padding: 8px;
            max-width: 70%;
            float: left;
        }

        #chat-input {
            padding: 10px;
            background-color: #ecf0f1;
        }

        #text {
            width: 70%;
            padding: 8px;
            border: none;
            border-radius: 4px;
        }

        button {
            width: 28%;
            padding: 8px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

    <div class="container">
    <div id="chat-container">
        <div id="chat-header">
            <h1>INFINTYFARM Chat</h1>
        </div>
        <div id="chat-messages">
            {% if question is defined and response is defined %}
                <div class="message user-message">
                    <span class="message-text">{{ question }}</span>
                </div>
                <div class="message bot-message">
                    <span class="message-text">{{ response }}</span>
                </div>
            {% endif %}
        </div>
        <div id="chat-input">
            <form action="{{ path('send_chat') }}" method="post">
                <input type="text" id="text" name="text" placeholder="Type your question..." required>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    </div>
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>



    </body>


{% endblock %}